.tokens {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 20px;
    .top, .bottom {
        flex: 1;
        display: flex;
        gap: 20px;
        > div {
            background-color: #fff;
            border-radius: 12px;
            flex: 1;
            padding: 20px;
            p {
                 margin: 0;  
            }
            .title {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 10px;
            }
            .row {
                display: flex;
                justify-content: space-between;
            }
        }
        #Great {
            color: #417B5A;
        }
        #Okay {
            color: #DC851F;
        }
        #Frustrating {
            color: #3F6DA4;
        }
        #Angry {
            color: #931F1D;
        }
    }
}