<div class="container">
    <div class="buttons">
        <ng-container *ngIf="currentPageAndState.page == 'token' || (currentPageAndState.page == 'rank' && !isCardPlaced); else multipleBtns">
            <div class="singleBtn btn">
                <p *ngIf="currentPageAndState.page == 'rank'" (click)="navigateToHome();">Cards</p>
                <p *ngIf="currentPageAndState.page == 'token' && currentPageAndState.state == ''" #removeTokensZone>Remove tokens</p>
                <p *ngIf="currentPageAndState.page == 'token' && currentPageAndState.state == 'tokenSummary'"
                (click)="currentPageAndState.state = ''" style="cursor: pointer;">Make changes</p>
            </div>
        </ng-container>
        
        <ng-template #multipleBtns>
            <!-- Button 1 -->
            <div class="btn option1" *ngIf="currentPageAndState.page != 'rank'" (click)="currentPageAndState.state = currentPageAndState.state == 'discardedCards' ? '' : 'discardedCards'">
                <p>Play discarded cards</p>
            </div>
            <div class="btn option1" *ngIf="currentPageAndState.page == 'rank'" (click)="navigateToHome();">
                <p>Cards</p>
            </div>

            <!-- Button 2 -->
            <div class="btn option2" *ngIf="currentPageAndState.page != 'rank'" (click)="currentPageAndState.state = currentPageAndState.state == 'reposition' ? '' : 'reposition'">
                <p>Reposition</p>
            </div>
            <div  class="btn option2" *ngIf="currentPageAndState.page == 'rank'"  (click)="fixRankCardPosition()">
                <p>{{ isLastCard ? 'Done' : 'Lock it in' }}</p>
            </div>
        </ng-template>
    </div>

    <div class="main">
        <div class="options">
            <ng-container *ngIf="currentPageAndState.page == 'rank'">
                <div class="display-card-wrapper"
                    cdkDropList
                    [cdkDropListConnectedTo]="[dropZone]"
                    [cdkDropListData]="[displayCardData.label]"
                    (cdkDropListDropped)="placeCard($event)">
                    <div *ngIf="!isCardPlaced" cdkDrag 
                        class="display-card" 
                        (pointerdown)="off = { x: 0, y: 0 }"
                        [cdkDragData]="displayCardData.label"
                        (cdkDragMoved)="cardMoveListener($event)">
                        <div class="rotating-border"></div>
                        <p class="label">{{ displayCardData.label }}</p>
                        <div class="content">
                            <p class="preview">{{ displayCardData.preview }}</p>
                            <div class="logo">
                                <img [src]="'assets/' + displayCardData.imageUrl + '.svg'" alt="image">
                            </div>
                        </div>
                        <img *cdkDragPreview [src]="'assets/' + displayCardData.imageUrl + '.svg'" alt="image">
                        <!-- (pointerdown)="off = { x: $event.offsetX || 0, y: $event.offsetY || 0 }" -->
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="currentPageAndState.page == 'summary'">
                <div class="discarded-cards-wrapper">
                    <p class="summary">Summary</p>
                    <p class="disc-cards">Discarded Cards</p>
                    <div cdkDropList
                        #todoList="cdkDropList"
                        [cdkDropListData]="localDiscardedCards"
                        [cdkDropListConnectedTo]="[dropZone]"
                        cdkDropListSortingDisabled
                        class="card-list"
                        (cdkDropListDropped)="placeCard($event)">
                            <div class="card-container"
                                *ngFor="let item of localDiscardedCards"
                                cdkDrag
                                [cdkDragDisabled]="currentPageAndState.state != 'discardedCards'"
                                (pointerdown)="off = { x: $event.offsetX || 0, y: $event.offsetY || 0 }"
                                [cdkDragData]="item"
                                (cdkDragMoved)="cardMoveListener($event)">
                                <div class="rotating-border" *ngIf="currentPageAndState.state == 'discardedCards'"></div>
                                <img [src]="'assets/' + service.cardsData[item].imageUrl + '.svg'" alt="">
                                <div *cdkDragPlaceholder class="field-placeholder"></div>
                            </div>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="currentPageAndState.page == 'token'">
                <div class="summary" *ngIf="currentPageAndState.state == 'tokenSummary'">Summary</div>
                <div class="tokens-wrapper" *ngIf="currentPageAndState.state != 'tokenSummary'"
                    cdkDropList
                    (cdkDropListDropped)="placeToken($event)"
                    cdkDropListSortingDisabled="true">
                    <ng-container *ngFor="let token of service.tokens | keyvalue: service.asIsOrder">
                        <div class="token-container">
                            <div class="token" cdkDrag 
                            (pointerdown)="off = { x: $event.offsetX || 0, y: $event.offsetY || 0 }"
                            [cdkDragData]="token.value"
                            (cdkDragMoved)="cardMoveListener($event)"
                            [style.background]="token.value.color">
                                <div class="rotating-border"></div>
                            </div>
                            <p>{{ token.value.label }}</p>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </div>

        <div class="drop-zone-wrapper">
            <div class="importance">
                <p>Less important</p>
                <p>Important</p>
            </div>
            <div class="drag-zone-container">
                <div class="rotating-border" *ngIf="(currentPageAndState.page == 'rank')
                || (currentPageAndState.page == 'summary' && currentPageAndState.state != '')
                || (currentPageAndState.page == 'token' && currentPageAndState.state != 'tokenSummary')"></div>
                <div cdkDropList
                    #dropZone="cdkDropList"
                    [cdkDropListData]="localPlaced"
                    class="drag-zone"
                    cdkDropListSortingDisabled="true"
                    (cdkDropListDropped)="placeCard($event)">
                    <ng-container *ngFor="let item of localPlaced; let i = index">
                        <div cdkDrag
                            class="item-box-wrapper"
                            [ngClass]="currentPageAndState.page == 'token' ? 'token-page' : ''"
                            cdkDragBoundary="{{ currentPageAndState.page != 'token' ? '.drag-zone' : '' }}"
                            [style.top.px]="item.y"
                            [style.left.px]="item.x"
                            [style.z-index]="item['zIndex']"
                            (cdkDragStarted)="changeZIndex(item)"
                            (pointerdown)="off = { x: $event.offsetX || 0, y: $event.offsetY || 0 }"
                            [cdkDragData]="item"
                            (cdkDragMoved)="cardMoveListener($event)"
                            (cdkDragStarted)="currentPageAndState.page == 'token' ? tokenDragStart($event, i) : ''"
                            [cdkDragDisabled]="(currentPageAndState.page == 'rank' && item.label == displayCardData.label)
                            || (currentPageAndState.state == 'reposition')
                            || (currentPageAndState.state == 'discardedCards' && service.discardedCards.indexOf(item.label) > -1)
                            || (currentPageAndState.page == 'token' && (currentPageAndState.state == '') ) ? false : true"
                            (cdkDragDropped)="currentPageAndState.page != 'token' ? changePosition($event, item) : removeTokens($event, item, i)">
                            <div class="item-box">
                                <img [src]="'assets/' + service.cardsData[item.label].imageUrl + '.svg'" alt="">
                                <ng-container *ngFor="let token of item.tokens; let i = index">
                                    <div class="item-token" id="token-{{ i }}" [style.background]="service.tokens[token].color"></div>
                                </ng-container>
                            </div>
                            <div *ngIf="currentPageAndState.page != 'token'">
                                <div *cdkDragPlaceholder class="field-placeholder"></div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="footer">
                <button *ngIf="currentPageAndState.page != 'rank'" (click)="openDialog()">done</button>
            </div>
        </div>
    </div>
</div>