<div class="page-container">
    <div class="buttons" #dropZone>
        <div class="btn">
            Discuss
        </div>
    </div>
    <div class="content-container">
        <div class="left-panel">
            <div class="used-cards-container">
                <div class="section-header">
                    Used Cards
                </div>
                <div class="card-list-container">
                    <div class="box-container"
                    *ngFor="let item of service.placedCards">
                        <img [src]="'assets/' + service.cardsData[item.label].imageUrl + '.svg'" alt="">
                    </div>
                </div>
            </div>
            <div class="participation-id">
                ID: 1234
            </div>
        </div>
        <div class="carousel-wrapper">
            <div class="carousel-track" #carouselTrack>
                <ng-container *ngFor="let card of service.localCardsForHome; let i = index">
                    <div class="card-wrapper" cdkDropList
                    cdkDropListSortingDisabled
                    (cdkDropListDropped)="placeCard($event)">
                        <div class="card" cdkDrag
                        [ngClass]="{'discarded-card': service.discardedCards.includes(card), 'focus-card': i == service.displayCardIndex}"
                        [cdkDragDisabled]="service.discardedCards.includes(card)"
                        (pointerdown)="off = { x: $event.offsetX || 0, y: $event.offsetY || 0 }"
                        (cdkDragMoved)="cardMoveListener($event)"
                        *ngFor="let cardData of [service.cardsData[card]]"
                        [cdkDragData]="service.cardsData[card]">
                            <div class="card-content">
                                <div class="card-display" style="display: none;">
                                    <div class="title">
                                        {{ cardData.label }}
                                    </div>
                                    <div class="content">
                                        {{ cardData.preview }}
                                    </div>
                                </div>
                            </div>
                            <div class="logo">
                                <img [src]="'assets/' + cardData.imageUrl + '.svg'" alt="">
                            </div>
                            <img *cdkDragPreview [src]="'assets/' + cardData.imageUrl + '.svg'" alt="image">
                        </div>
                    </div>
                </ng-container>
                <div class="card-wrapper"></div>
                <div class="card-wrapper"></div>
            </div>
            <div class="arrow-container">
                <img [src]="'assets/left-arrow.svg'" (click)="changeDisplaySlide(-1)" alt="">
                <div class="discardBtn" *ngIf="service.discardedCards.includes(service.localCardsForHome[service.displayCardIndex]); else discardCardBtn" (click)="toggleDiscardCard(false)">Use Card</div>
                <ng-template #discardCardBtn>
                    <div class="discardBtn" (click)="toggleDiscardCard(true)">Discard Card</div>
                </ng-template>
                <img [src]="'assets/right-arrow.svg'" (click)="changeDisplaySlide(1)" alt="">
            </div>
        </div>
    </div>
</div>