<div class="page-container">
    <div class="buttons" #dropZone>
        <div class="btn">
            Discuss
        </div>
    </div>
    <div class="content-container">
        <div class="used-cards-container">
            <div class="section-header">
                Used Cards
            </div>
            <div class="card-list-container">
                <div class="box-container"
                *ngFor="let item of localUsedCards">
                    <img src="../../assets/{{ appService.cardsData[item].image }}.svg" alt="">
                    <div *cdkDragPlaceholder class="field-placeholder"></div>
                </div>
            </div>
        </div>
        <div class="carousel-container">
            <div *ngFor='let card of allCardArray; let i=index' [ngClass]="isDiscardedCheck(card)" (appLongPressDiscard)="onLongPressDiscard(card,i,$event)" class="big-card-container">
                
                    <div class="title">
                        {{ card.label }}
                    </div>
                    <div class="content">
                        {{ card.text }}
                    </div>
                    <div class="logo">
                        <img src="../../assets/{{ card.image }}.svg" alt="">
                    </div>
            </div>
        </div>
    </div>
</div>