
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    p {
        margin: 0;
    }
    .buttons {
        display: flex;
        gap: 30px;
        justify-content: center;
        .btn {
            height: 100px;
            width: 100%;
            font-size: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            cursor: pointer;
        }
        .singleBtn {
            width: 100%;
            position: relative;
            cursor: default;
            .back-btn {
                // position: absolute;
                // left: 50px;
                // top: 20px;
                // width: 100px;
                // height: 50px;
            }
        }
        .option1 {
            background: linear-gradient(90deg, #F4F1BB 2.6%, #BC3908 71.09%);
            border-radius: 0px 0px 50px 50px;
        }
        .option2 {
            background: linear-gradient(90deg, #305252 2.6%, #031926 40.14%);
            border-radius: 0px 0px 50px 50px;
        }
    }
    .main {
        display: flex;
        flex-direction: row;
        padding: 20px 70px 0;
        height: inherit;
        .options {
            width: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
            .display-card-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                .display-card {
                    position: relative;
                    background: linear-gradient(180deg, #031926 42.42%, rgba(234, 235, 237, 1) 99.22%);
                    box-shadow: 0px 4px 30px 21px rgba(0, 0, 0, 0.25);
                    border-radius: 40px;
                    color: #fff;
                    width: 220px;
                    padding: 42px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .label {
                        font-weight: 700;
                        font-size: 50px;
                        line-height: 61px;
                        margin-bottom: 36px;
                    }
                    .preview {
                        font-size: 16px;
                        margin-bottom: 70px;
                    }
                    .image {
                        width: 100px;
                    }
                }
            }
            .tokens-wrapper {
                display: flex;
                flex-direction: column;
                gap: 22px;
                .token-container {
                    display: flex;
                    gap: 25px;
                    align-items: center;
                    p {
                        font-weight: 700;
                        font-size: 30px;
                    }
                    .token {
                        width: 80px !important;
                        height: 80px !important;
                    }
                }
            }
            .discarded-cards-wrapper {
                .summary {
                    font-weight: 700;
                    font-size: 40px;
                    margin-bottom: 100px;
                }
                .disc-cards {
                    font-size: 30px;
                    font-weight: 700;
                    margin-bottom: 24px;
                }
                .card-list {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 16px;
                    .card-container {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 94px;
                        height: 90px;
                        // background: linear-gradient(180deg, #031926 -12.22%, rgba(234, 235, 237, 0) 117.62%);
                        background: linear-gradient(180deg, #031926 -12.22%, rgba(234, 235, 237, 1) 117.62%);
                        border-radius: 20px;
                        img {
                            width: 65px;
                            height: 65px;
                        }
                    }
                }
            }
        }
        .drop-zone-wrapper {
            width: 100%;
            margin-left: 110px;
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            .importance {
                display: flex;
                justify-content: space-between;
                margin-bottom: 16px;
                font-size: 18px;
                font-weight: 700;
            }
            .drag-zone {
                position:relative;
                flex-grow:1;
                height: 100%;
                background: linear-gradient(90deg, #9792E3 0%, #F4F1BB 100%);
                box-shadow: 0px 4px 30px 20px rgba(0, 0, 0, 0.25);
                border-radius: 30px;
                overflow: hidden;
                img {
                    width: 50px;   // this value should be same as value in placeToken function
                    height: 50px;   // this value should be same as value in placeToken function
                }
                .cdk-drag.display-card {
                    display: none;
                }
            }

        }
    }
    .footer {
        display: flex;
        justify-content: flex-end;
        padding-right: 75px;
        align-items: center;
        height: 140px;
        button {
            height: 50px;
            width: 100px;
            border-radius: 15px;
            background: #211818;
            color: #fff;
            border: none;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            cursor: pointer;
        }
    }
}

// Global scope classes for cdkDrag
.token {
    border-radius: 50%;
    width: 40px !important;   // this value should be same as the value in placeToken function
    height: 40px !important;  // this value should be same as the value in placeToken function
}
.item-box-wrapper {
    position: absolute;
    .item-box {
        position: relative;
        .item-token {
            position: absolute;
            height: 35px;
            width: 35px;
            border-radius: 50%;
            opacity: 0.8;
            &:nth-of-type(1) {
                bottom: 0;
            }
            &:nth-of-type(2) {
                bottom: 0;
                right: 0;
            }
            &:nth-of-type(3) {
                top: 0;
            }
            &:nth-of-type(4) {
                top: 0;
                right: 0;
            }
        }
    }
}
