<script src="https://kit.fontawesome.com/5a08023153.js" crossorigin="anonymous"></script>    <!-- should be removed, only for testing -->
<div class="container">
    <div class="buttons">
        <ng-container *ngIf="isTokensPage || (isRankPage && !isCardPlaced); else multipleBtns">
            <div class="singleBtn btn option1">
                <!-- <div class="back-btn">
                    <img src="" alt="back">
                </div> -->
                <p *ngIf="isRankPage">Cards</p>
                <p *ngIf="isTokensPage">Tokens</p>
            </div>
        </ng-container>
        
        <ng-template #multipleBtns>
            <div class="btn option1">
                <p *ngIf="!isRankPage">Play discarded cards</p>
                <p *ngIf="isRankPage">Cards</p>
            </div>
            <div class="btn option2">
                <p *ngIf="!isRankPage">Reposition</p>
                <p *ngIf="isRankPage">Lock it in</p>
            </div>
        </ng-template>
    </div>

    <div class="main">
        <div class="options">
            <ng-container *ngIf="isRankPage">
                <div class="display-card-wrapper"
                    cdkDropList
                    (cdkDropListDropped)="placeCard($event)"
                    [cdkDropListData]="rankCoordinates">
                    <div *ngIf="rankCoordinates.length" cdkDrag 
                        class="display-card" 
                        (pointerdown)="off = { x: $event.offsetX || 0, y: $event.offsetY || 0 }"
                        [cdkDragData]="rankCoordinates[0]"
                        (cdkDragMoved)="moved($event)">
                        <p class="label">{{ service.displayCardData.label }}</p>
                        <p class="preview">{{ service.displayCardData.preview }}</p>
                        <img src="{{ service.displayCardData.image }}" alt="image" class="image">
                        <img *cdkDragPreview src="{{ service.displayCardData.image }}" alt="image">
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="isTokensPage">
                <div cdkDropList class="tokens-wrapper"
                    (cdkDropListDropped)="placeToken($event)">
                    <ng-container *ngFor="let token of service.tokens;">
                        <div class="token-container">
                            <div cdkDrag 
                            (pointerdown)="off = { x: $event.offsetX || 0, y: $event.offsetY || 0 }"
                            [cdkDragData]="token"
                            (cdkDragMoved)="moved($event)"
                            class="token" [style.background]="token.color"></div>
                            <p>{{ token.label }}</p>
                        </div>
                    </ng-container>
                    <!-- <div class="token-container">
                        <div cdkDrag class="token token2"></div>
                        <p>Frustrating</p>
                    </div>
                    <div class="token-container">
                        <div cdkDrag class="token token3"></div>
                        <p>Okay</p>
                    </div>
                    <div class="token-container">
                        <div cdkDrag class="token token4"></div>
                        <p>Great</p>
                    </div> -->
                </div>
            </ng-container>

            <!-- <ng-template #discardedCards> -->
            <ng-container *ngIf="!isRankPage && !isTokensPage">
                <div class="discarded-cards-wrapper">
                    <p class="summary">Summary</p>
                    <p class="disc-cards">Discarded Cards</p>
                    <div cdkDropList
                        #todoList="cdkDropList"
                        [cdkDropListData]="service.todoCards"
                        [cdkDropListConnectedTo]="[dropZone]"
                        cdkDropListSortingDisabled
                        class="card-list"
                        (cdkDropListDropped)="drop($event)">
                            <div class="card-container"
                                *ngFor="let item of service.todoCards"
                                cdkDrag
                                (pointerdown)="off = { x: $event.offsetX || 0, y: $event.offsetY || 0 }"
                                [cdkDragData]="item"
                                (cdkDragMoved)="moved($event)">
                                <img src="../../assets/home.svg" alt="">
                                <div *cdkDragPlaceholder class="field-placeholder"></div>
                            </div>
                    </div>
                </div>
            </ng-container>
            <!-- </ng-template> -->
        </div>


        
        <div class="drop-zone-wrapper">
            <div class="importance">
                <p>Less important</p>
                <p>Important</p>
            </div>
            <div cdkDropList
                #dropZone="cdkDropList"
                [cdkDropListData]="service.placedCards"
                class="drag-zone"
                cdkDropListSortingDisabled="true"
                (cdkDropListDropped)="drop($event)">
                <ng-container *ngFor="let item of service.placedCards">
                    <div cdkDrag
                        class="item-box"
                        cdkDragBoundary=".drag-zone"
                        [style.top.px]="item.y"
                        [style.left.px]="item.x"
                        [style.z-index]="item['z-index']"
                        (cdkDragStarted)="changeZIndex(item)"
                        (cdkDragDropped)="changePosition($event, item)">
                        <img src="../../assets/{{item.image ? item.image : 'home'}}.svg" alt="">
                        <div *cdkDragPlaceholder class="field-placeholder"></div>
                    </div>
                </ng-container>
            </div>

        </div>
    </div>
    <div class="footer">

    </div>
</div>