/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  }
* {
    box-sizing: border-box;
}

// page loader css
.page-loader {
    margin: 100px auto 0;
    border: 12px solid #f3f3f3;
    border-top: 12px solid #908DDA;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: loader-spin 2s linear infinite;
}
@keyframes loader-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

//border radius of dialog box
.mat-mdc-dialog-surface.mdc-dialog__surface {
    border-radius: 30px !important;
}

// rotating border CSS
.rotating-border {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
    overflow: hidden;
    position: absolute;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    z-index: -1;
    inset: -4px;
}   
.rotating-border::before {
    content: '';
    position: absolute;
    width: 1000%;
    height: 1000%;
    background: conic-gradient(from 180deg at 50% 50%, #BC3908 0deg, rgba(0, 0, 0, 0) 360deg);
    animation: rotate 4s linear infinite;
}
@keyframes rotate {
    from { transform: rotate(360deg); }
    to { transform: rotate(0deg); }
}
.cdk-drag-preview {
    width: 50px;
    height: 50px;
    .rotating-border {
        display: none;
    }
}

.cdk-drag.item-box-wrapper.token-page.cdk-drag-preview img {   // tokens page drag preview
    opacity: 0;
}