<div class="container">
    <div class="buttons" #dropZone>
        <div class="btn">
            <!-- <div class="back-btn">
                <img src="" alt="back">
            </div> -->
            Rank
        </div>
    </div>
    <div class="main">
        <div class="display-card-wrapper" cdkDropList
            (cdkDropListDropped)="placeCard($event)"
            [cdkDropListData]="displayCardData">
            <div cdkDrag 
                class="display-card" 
                (pointerdown)="off = { x: $event.offsetX || 0, y: $event.offsetY || 0 }"
                (cdkDragMoved)="cardMoveListener($event)">
                <p class="label">{{ displayCardData.label }}</p>
                <p class="preview">{{ displayCardData.preview }}</p>
                <img src="../../assets/{{ displayCardData.image }}.svg" alt="image" class="image">
                <img *cdkDragPreview src="../../assets/{{ displayCardData.image }}.svg" alt="image">
            </div>
        </div>
        <div class="text">
            <p>{{ displayCardData.text }}</p>
        </div>
    </div>
</div>
