<mat-card class="mat-card">
            <mat-card-header class="mat-card-header">
              {{ card.title }} 
            </mat-card-header>
        
            <mat-card-content class="mat-card-content">
              <p>
                <!-- {{ card.content }} -->
              </p>
              <p>
            <mat-icon class="mat-icon">{{ card.imageUrl }}</mat-icon>
              </p>
            </mat-card-content>  
            <mat-card-footer class="mat-card-footer">
            </mat-card-footer>              
</mat-card>
